# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\C PROJECTS\FILE_AND_PROCESS_PERSISTER\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
